<!-- <ngx-masonry [options]="myOptions">
   <img ngxMasonryItem class="masonry-item" *ngFor="let item of masonryItems" [src]="item.imgUrl" alt="">
</ngx-masonry> -->

<div class="img-container">
  <figure *ngFor="let item of masonryItems">
    <img class="zoom" [src]="item.imgUrl" alt="" (click)="setSelectedImage(item.imgUrl)">
  </figure>
</div>

<dialog style="height: 90vh;">
  <button type="button" class="btn btn-outline-info mb-2" (click)="closeModal()">Close</button>
  <img class="img-fluid" [src]="selectedImage" alt="" style="height: 80vh;">
</dialog>

<router-outlet></router-outlet>
