// .masonry-item { width: 500px; margin-bottom: 10px; }

// .img-container {
//     display: grid;
//     grid-template-columns: repeat(4, 1fr);
//     grid-template-rows: masonry;
//   }
  

body {
    background-color: #000;
    font: 1.1em Arial, Helvetica, sans-serif;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  figure {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
  }
  
  figure > img {
    grid-row: 1 / -1;
    grid-column: 1;
  }
  
  figure a {
    color: black;
    text-decoration: none;
  }
  
  figcaption {
    grid-row: 2;
    grid-column: 1;
    background-color: rgba(255,255,255,.5);
    padding: .2em .5em;
    justify-self: start;
  }
  
  .img-container {
    column-count: 3;
    column-gap: 10px;
  }

  ::backdrop {
    background: black;
    opacity: 0.75;
  }

  .zoom {
    transition: transform .2s; /* Animation */
  }

  .zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }